<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="conteudo">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Postar ou Editar Notas</a></li>
                <li><a href="/">Adicionar Materias</a></li>
                <li><a href="/contact">Ver ou Adicionar Alunos</a></li>
            </ul>
        </nav>
    </header>
    <div id="paginas">
        {{substituir}} <!-- Esta é a DIV que vc vai substituir e mudar constantemente -->
    </div>
</body>
</html>
